* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: rgb(15, 15, 15);
  font-family: 'Quicksand', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px; }

/* Header with Logo and Navigation */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}


div {
  font-family: "Quicksand", serif;
  font-size: 2rem;
}

.logo {
  margin-left: 0;
  /* Ensure logo is fully left-aligned */
}

.logo img {
  width: 50px;
  height: auto;
  margin-top: 0;
  /* Optional: adjust top margin to move it closer to the top */
  margin-bottom: 0;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 20px 20px 0 0;
  padding: 0;
}

nav ul li {
  /* Ensure each list item has a consistent layout */
  display: inline-block; /* This helps with scaling */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  display: inline-block; /* Ensure the link itself can scale */
  transform-origin: center; /* Center the scaling */
}

nav ul li a:hover {
  transform: scale(1.5); /* Increase scale-up effect */
  text-shadow: 0 0 15px rgba(255, 255, 255, 1); /* Stronger glow effect */
}


p,
a {
  text-align: center;
  /* margin-top: 5%; */
  margin-bottom: 2rem;
  color: #eee;
}

.about-me-flex-container-landing .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}

@media (max-width: 960px) {
  .about-me-flex-container-landing .about-me-content {
    flex-direction: row-reverse;
  }
}

.about-me-flex-container-landing .about-me-content .text {
  color: black;
  font-weight: 60;
  font-size: 20px;
}

@media (max-width: 500px) {
  .about-me-flex-container-landing .about-me-content .text {
    font-size: 16px;
  }
}


.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;

}

.container-about .card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 30px;
  box-sizing: border-box;
}

.container-about .card:nth-of-type(2) {
  box-sizing: border-box;
  transform: rotate(5deg);
}

.container-about .card .image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translate(10px, 10px);
  box-sizing: border-box;
}

.container-about .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 255px;
  height: 325px;
  border: 1px solid #21D4FD;
  z-index: 1;
  background: linear-gradient(145deg, #21D4FD, #e6e6e6);
  box-shadow: 7px 7px 21px #bdbdbd, -7px -7px 21px #21D4FD;
  background: transparent;
  box-sizing: border-box;
}

.container-about .card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  padding: 5px 3px 3px 3px;
  transform: translate(10px, 10px);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: black;
  line-height: 1.4;
  font-size: 16px;
  opacity: 1;
  /* transition-duration: 1s; */
  /* box-sizing: border-box;
      object-fit: fill; */

}

@media (max-width: 767px) {

  .container-about .card {
    width: calc(50% - 20px);
    /* Adjust padding as needed */
    margin: 15px;
    /* Adjust as needed */
  }
}


.container_mouse {
  text-align: center;
  color: #21D4FD;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 2rem;
  cursor: pointer;
}

.container_mouse .mouse-btn {
  margin: 10px auto;
  width: 20px;
  height: 40px;
  border: 4px solid #21D4FD;
  border-radius: 30px;
  display: flex;
}

.container_mouse .mouse-btn .mouse-scroll {
  display: block;
  width: 10px;
  height: 10px;
  background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
  border-radius: 50%;
  margin: auto;
  animation: scrolling 2s linear infinite;
}



h2 {
  font-size: 22px;
  color: white;

}





.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 20px;
}



/* Codepen for quotes from MarkBoots   */
blockquote {
  max-width: 40rem;
  /* Reduce max-width for smaller boxes */
  min-width: 20rem;
  text-align: center;
}

/* blockquote card colors */
blockquote.q-card-color-1 {
  --accent-color: rgb(32 32 54);
  --bg-color: rgb(30 145 254);
  --dot-color: rgb(255 255 255 / .35);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

blockquote.q-card-color-2 {
  --accent-color: rgb(243 243 243);
  --bg-color: rgb(33 29 30);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);
}

blockquote.q-card-color-3 {
  --accent-color: rgb(30 145 254);
  --bg-color: rgb(32 32 54);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

/* blockquote card setup*/
blockquote.q-card {
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, black);
  font-weight: 600;
  font-size: 20px;
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25%);
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem rgb(0 0 0 / .5);
  /* width: 250px; */


}

blockquote.q-card::before {
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image:
    radial-gradient(circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2),
      transparent calc(var(--qHeight) / 2 + 1px)),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat
}

blockquote.q-card>.author {
  color: var(--text-color-author, white);
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

blockquote.q-card>.author::before {
  content: "- "
}

.q-card-wrapper {
  display: flex;
  /* Make the wrapper a flex container */
  gap: 1rem;
  /* Add spacing between the blocks */
  justify-content: center;
  flex-wrap: wrap;
}

.q-card-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Reset styles for the specific sections */
}



h4 {
  font-family: 'Waiting for the Sunrise', cursive;
  color: #21D4FD;
  margin-top: 0px;
  font-size: 42px;
  text-align: center;
  /* Add the following lines to center horizontally */
  margin: 0 auto;
  max-width: fit-content;
  padding: 0;
  border: none;
}



.about-title {
  margin-top: 425px;
  font-size: 42px;
  /* Adjust size as needed */
  /* font-weight: bold; */
  margin-bottom: 20px;
  /* Space below the title */
  max-width: 50%;
  /* Limit width to half of the container */
  /* Add space from the left edge */
  font-family: 'Waiting for the Sunrise', cursive;

  /* font-family: 'Waiting for the Sunrise', cursive; */
  color: #21D4FD;
  text-align: center;
  /* Add the following lines to center horizontally */


  
}



.typewrite {
  font-size: 1.5em;
  /* Adjust size as needed */
  font-weight: normal;
  text-align: left;
  max-width: 50%;
  /* Limit width to half of the container */
  padding-left: 40px;
  /* Add space from the left edge */
}


.typewrite>.wrap {
  border-right: 0.08em solid white;
  font-family: 'Quicksand', sans-serif;
  /* Replace 'YourFontName' with your desired font */
  font-size: 24px;
  /* Adjust size as needed */
  color: #21D4FD;
  /* Change text color if desired */
}


.bio {
  text-align: left;
  font-size: 1em;
  /* Adjust size as needed */
  margin-top: 10px;
  /* Space above the bio text */
  max-width: 90%;
  /* Limit width to half of the container */
  padding-left: 40px;
  /* Add space from the left edge */
  font-weight: normal;
  /* Make the text normal weight */
}


/* For larger screens */
.bio, .typewrite {
  max-width: 80%; /* Increase the width of the text container */
  text-align: left; /* Keep the text left-aligned */
  margin: 0 auto; /* Center the container horizontally */
}

/* For mobile screens (width below 768px) */
@media (max-width: 768px) {
  .bio, .typewrite {
    max-width: 100%;  /* Allow text to take the full width */
    text-align: center; /* Center-align text for better readability */
    padding-left: 0; /* Remove padding for mobile */
    margin: 0 auto; /* Center the container */
  }

  /* Add a large buffer between navbar and content */
  header {
    margin-bottom: 50px; /* Add space below the navbar */
  }

  .container-about {
    flex-direction: column; /* Stack the cards vertically */
    align-items: center;
    margin-top: 50px; /* Add spacing between navbar and content */
  }

  .container-about .card {
    width: 70%; /* Make the cards wider on mobile */
    margin: 20px 0; /* Increase space between cards */
  }

  .about-title {
    font-size: 32px; /* Slightly reduce the title size on smaller screens */
    margin-top: 2000px; /* Add space between the title and the navbar */
  }
}
