body {
  background-color: rgb(240, 238, 231);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  z-index: 1000;
  padding-left: 50px;
  /* Adjust padding as needed */
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-logo {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  /* Move the logo to the right side */
  /* Adjust width and height for your logo image */
  max-width: 30px;
  height: 25px;
  top: 0;
  /* Position the logo at the top of the viewport */
  padding: 5px 0;
  position: fixed;
}

/* Add media query to stack links on mobile */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    /* Stack links vertically */
    align-items: center;
    /* Center links horizontally */
  }

  nav a {
    margin-bottom: 10px;
    /* Add space between links */
  }
}

nav a {
  /* Remove default underline */
  text-decoration: none;
  /* Add some padding for better spacing */
  padding: 10px 20px;
  /* Set a background color for hover effect */
  background-color: #f2f2f2;
  /* Set a color for the links */
  color: #333;
  /* Add a slight border for hover effect */
  border-radius: 3px;
}

/* Add a hover effect to change the link color */
nav a:hover {
  background-color: #21D4FD;
  color: #000;
}


/* Codepen for quotes from MarkBoots   */
blockquote {
  max-width: 40rem;
  /* Reduce max-width for smaller boxes */
  min-width: 20rem;
  text-align: center;
}

/* blockquote card colors */
blockquote.q-card-color-1 {
  --accent-color: rgb(32 32 54);
  --bg-color: rgb(30 145 254);
  --dot-color: rgb(255 255 255 / .35);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

blockquote.q-card-color-2 {
  --accent-color: rgb(243 243 243);
  --bg-color: rgb(33 29 30);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);
}

blockquote.q-card-color-3 {
  --accent-color: rgb(30 145 254);
  --bg-color: rgb(32 32 54);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

/* blockquote card setup*/
blockquote.q-card {
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, black);
  font-weight: 600;
  font-size: 20px;
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25%);
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem rgb(0 0 0 / .5);
  /* width: 250px; */


}

blockquote.q-card::before {
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image:
    radial-gradient(circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2),
      transparent calc(var(--qHeight) / 2 + 1px)),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat
}

blockquote.q-card>.author {
  color: var(--text-color-author, white);
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

blockquote.q-card>.author::before {
  content: "- "
}

.q-card-wrapper {
  display: flex;
  /* Make the wrapper a flex container */
  gap: 1rem;
  /* Add spacing between the blocks */
  justify-content: center;
  flex-wrap: wrap;
}

.q-card-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Reset styles for the specific sections */
}



/* ==== Social Media Icons ====*/
.fa {
  padding: 20px;
  font-size: 30px;
  max-width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;

}

/*hover effect */
.fa:hover {
  opacity: 0.7;
}

/* color  */
.fa-linkedin {
  /* background: #000000; */
  color: black;
  margin-left: 100;
  margin-right: 100;
}

.fa-github {
  /* background: #000000; */
  color: black;
  margin-left: 100;
  margin-right: 100;
}

.fa-envelope {
  /* background: #000000; */
  color: black;
  margin-left: 100;
  margin-right: 100;
}



.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center the icons vertically */
  list-style-type: none;
  /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 15px;
  /* Space between icons */
  animation: wave 2s infinite;
  /* Apply the wave animation */
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
    /* Start and end at original position */
  }

  20% {
    transform: translateY(-10px);
    /* Move up */
  }

  40% {
    transform: translateY(5px);
    /* Move down slightly */
  }

  60% {
    transform: translateY(-5px);
    /* Move up slightly */
  }

  80% {
    transform: translateY(0);
    /* Back to original */
  }
}

/* Adding delay for a wave effect */
.social-icons li:nth-child(1) {
  animation-delay: 0s;
}

.social-icons li:nth-child(2) {
  animation-delay: 0.2s;
}

.social-icons li:nth-child(3) {
  animation-delay: 0.4s;
}

.social-icons li {
  animation-iteration-count: 2;
}


@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


div {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

p,
a {
  text-align: center;
  /* margin-top: 5%; */
  margin-bottom: 2rem;
  color: blue;
}

.social-icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  font-size: 2rem;
}

.social-icons ul li {
  padding: 1rem;
}

.fab {
  font-size: 2rem;
}

/* transition for social icon hover animation */
.fa-linkedin,
/* .fa-twitter, */
.fa-github,
.fa-envelope {
  transition: 0.4s;
  cursor: pointer;
}

/* social media icons hover color */
.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #0A66C2;
  transform: scale(1.1);
}

/* .fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
  transform: scale(1.1);
} */

.fa-github:hover,
.fa-github:focus {
  color: white;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: white;
  transform: scale(1.1);
}


.fa-envelope:hover,
.fa-envelope:focus {
  color: #b3001b;
  /* Your chosen hover color */
  transform: scale(1.1);
}






.project-card-sm {
  /*   max-width: 600px; */
  max-width: 1200px;
  padding: 2.5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* Aligns the card horizontally in the middle of its container */
  margin: 0 auto;
  /* Creates equal margins on the left and right sides of the card */
  transition: transform 0.4s, box-shadow 0.4s;
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
  animation: slide-in-right 0.5s ease-in-out forwards;
  flex-direction: column; 
}

.project-card-sm.visible {
  transform: translateX(0);
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.project-card-sm:hover {
  transform: scale(1.025);
  /* box-shadow: 0 0 100px -30px #6f45dc;   */
  box-shadow: 0 0 100px -30px #21D4FD;


}

.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  max-width: 10rem;
  z-index: -1;
  /* background: linear-gradient(to right, transparent, #9272e4, transparent); */
  background: linear-gradient(to right, transparent, #21D4FD, transparent);


  transition: opacity 0.3s;
  opacity: 0;

  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: bottom;
  }
}


.project-card-sm .card-container {
  display: grid;
  grid-template-areas:
    "img img text text text"
    "pdf pdf pdf pdf pdf"; /* Add a new row for the PDF */  
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 10%);
  color: rgba(255, 255, 255, 0.7);
}


.project-card-sm .wrapper {
  grid-area: text; /* Keep this mapped to the text area */
}
.project-image img {
  max-width: 300px;
  /* Adjust the value as needed */
  min-width: 300px;
  /* Adjust the value as needed */
  min-height: 200px;
  /* Automatically scales height based on width */
  max-height: 300px;
  /* Automatically scales height based on width */

}
.project-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain; /* Prevents cropping */
}

h5 {
  font-family: 'Quicksand', sans-serif;
  color: #21D4FD;
  margin-top: 0px;
  font-size: 28px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color: #21D4FD;
  margin-top: 0px;
  font-size: 42px;
  text-align: center;
  /* Add the following lines to center horizontally */
  margin: 0 auto;
  max-width: fit-content;
  padding: 0;
  border: none;
}

p {
  font-size: .5em;
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

h1{
  margin-bottom: 30px;
  font-size: .65em;
}

h6{
  font-weight: normal; 
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin-top: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  
}


@media (max-width: 768px) {
  .project-card-sm .card-container {
    display: block;
    text-align: center;
  }

  .project-image img {
    width: 100%; 
    height: auto;
    max-width: 300px;
    object-fit: contain; 
  }

  .wrapper {
    margin-top: 15px;
  }
}


.project-card-sm .wrapper {
  display: flex;
  flex-direction: column; /* Ensure text and button are stacked */
  /* align-items: center; */
  gap: 1rem;
}

.project-card-sm .pdf-container {
  grid-area: pdf; /* Place the PDF in its own row below */
  display: none; /* Initially hidden */
  margin-top: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.project-card-sm.expanded .pdf-container {
  display: block; /* Show when expanded */
}

.project-card-sm .expand-btn {
  display: inline-block; /* Makes the button fit its content */
  padding: 0.3rem 1rem; /* Smaller padding for a shorter width */
  font-size: 1rem;
  font-weight: bold;
  background-color: #21d4fd;
  color: #fff;
  border: none;
  border-radius: 20px; /* Rounded button */
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  max-width: 300px; /* Ensure it doesn't get too small */
  box-shadow: 0 5px 15px rgba(33, 212, 253, 0.3);
  text-align: center; /* Keep the text centered */
  margin: 0 auto; /* Centers the button horizontally */
  /* padding-left: -145px; */
  /* margin-left: -1px;  */
  transform: translateX(-150px); /* Move the button 10px to the left */
}

.project-card-sm .expand-btn:hover {
  background: linear-gradient(45deg, #21d4fd, #b721ff); /* Cool gradient effect */
  color: #fff;
  box-shadow: 0 8px 25px rgba(183, 33, 255, 0.5);
}

.form-container {
  display: flex;
  justify-content: center; /* Horizontally centers the form */
  align-items: center;     /* Vertically centers the form */
}


.project-card-sm .pdf-container embed {
  width: 100%;
  height: 300px; /* Adjust height as needed */
}



.project-card-sm .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.project-card-sm .tools h3 {
  color: #21d4fd;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-card-sm .tools-icons {
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  gap: 3rem;
  align-items: center; /* Centers icons horizontally */
}

.project-card-sm .tools-icons img {
  max-width: 60px;
  max-height: 50px;
  min-width: 30px;
  min-height: 30px;
  /* transition: transform 0.3s; */
}

.project-card-sm .tools-icons img:hover {
  transform: scale(1.2);
}

.project-card-sm .tools-icons img {
  width: 100%;
  max-width: 80px;
  height: auto;
  object-fit: contain; /* Prevents cropping */
}



h5 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin-top: 0px;
  font-size: 20px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color: #21D4FD;
  margin-top: 0px;
  font-size: 42px;
  text-align: center;
  /* Add the following lines to center horizontally */
  margin: 0 auto;
  max-width: fit-content;
  padding: 0;
  border: none;
}

/* * { text-decoration: none; color: white;} */
.title1 {
  /* text-align: left; */
  color: #21D4FD;
  margin-top: 0px;
  float: left;
  clear: both;
  font-size: 28px;
}

h2 {
  font-size: 22px;
}




img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.container-landing {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px 40px;
}

@media (min-width: 1200px) and (max-width: 1441px) {
  .container-landing {
    max-width: 1250px;
    padding: 0px 36px;
  }
}

@media (max-width: 767px) {
  .container-landing {
    padding: 0px 30px;
  }
}

@media (max-width: 479px) {
  .container-landing {
    padding: 0px 30px 0px 20px;
  }
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me .about-me-container-landing {
  position: relative;
}

@media (max-width: 960px) {
  .about-me .about-me-container-landing {
    padding-bottom: 100px;
  }
}

.about-me .about-me-container-landing .about-me-title {
  font-size: 55px;
  color: #21D4FD;
  font-weight: 700;
}


.about-me-title {
  text-align: left; /* Ensure it's aligned */
  margin-left: 10%; /* Adjust as needed */
}

@media (max-width: 500px) {
  .about-me .about-me-container-landing .about-me-title {
    font-size: 30px;
  }
}

.about-me-flex-container-landing {
  margin-top: -25px;
  margin-left: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .about-me-flex-container-landing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .about-me-flex-container-landing {
    margin-top: -10px;
  }
}

.about-me-flex-container-landing .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
}

@media (max-width: 500px) {
  .about-me-flex-container-landing .about-me-image {
    width: 300px;
    height: 300px;
  }
}

.about-me-flex-container-landing .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  z-index: -3;
  background-color: #013747;
  width: 80%;
  height: 80%;
}

.about-me-flex-container-landing .about-me-image .black-image {
  z-index: -2;
  /* position: absolute; */
  /* left: 10px; */
  bottom: 10px;
  /* height: 100%; */
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;


}

.about-me-flex-container-landing .about-me-image .black-image img {
  height: 100%;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;}

.about-me-flex-container-landing .about-me-image .main-image {
  width: 70%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
  transition: all 0.2s ease-out;
}

.about-me-flex-container-landing .about-me-image .main-image:hover {
  transform-origin: top center;
  transform: scale(1.5);
  border-radius: 25px;
}

.about-me-flex-container-landing .about-me-image .main-image img {
  transform-origin: center center;
  transform: scale(2);
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.about-me-flex-container-landing .about-me-image .main-image img:hover {
  transform: scale(1);
}

.about-me-content {
  padding-left: 10px; /* Fine-tune spacing */
}
.about-me-flex-container-landing .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}

.about-me-image {
  transform: scale(0.5) translateY(-30%);
  transform-origin: center; /* Ensure it scales from the center */
}
.about-me-image .main-image:hover {
  transform: scale(1.5);
}

.about-me-image .main-image:hover {
  transform: scale(1.25); /* Smaller growth factor */
}


.about-me-flex-container-landing {
  margin-top: -25px;
  margin-left: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}

/* Mobile adjustments */
@media (max-width: 1000px) {
  .about-me-flex-container-landing {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    left: 0;
    align-items: center;
    text-align: center;
  }

  .about-me-flex-container-landing .about-me-image {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;  /* Add space between image and text */
  }

  .about-me-flex-container-landing .about-me-content {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }

  .about-me-content {
    margin-left: 0;  /* Reset the negative margin */
  }

  .about-me-flex-container-landing .about-me-content .text {
    text-align: center;
    width: 100%;
  }
}

/* Ensure the black image is correctly sized */
.black-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keep it covering as intended */
}

.black-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keep it covering as intended */
}

@media (max-width: 960px) {
  .about-me-flex-container-landing .about-me-content {
    flex-direction: row-reverse;
  }
}

.about-me-flex-container-landing .about-me-content .text {
  color: black;
  font-weight: 60;
  font-size: 20px;
}

@media (max-width: 500px) {
  .about-me-flex-container-landing .about-me-content .text {
    font-size: 16px;
  }
}


.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;

}

.container-about .card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 30px;
  box-sizing: border-box;
}

.container-about .card:nth-of-type(2) {
  box-sizing: border-box;
  transform: rotate(5deg);
}

.container-about .card .image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translate(10px, 10px);
  box-sizing: border-box;
}

.container-about .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 255px;
  height: 325px;
  border: 1px solid #21D4FD;
  z-index: 1;
  background: linear-gradient(145deg, #21D4FD, #e6e6e6);
  box-shadow: 7px 7px 21px #bdbdbd, -7px -7px 21px #21D4FD;
  background: transparent;
  box-sizing: border-box;
}

.container-about .card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  padding: 5px 3px 3px 3px;
  transform: translate(10px, 10px);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  font-family: 'Quicksand', sans-serif;
  /* margin-top: 0px; */
  font-size: .5em;
  font-weight: 5; 
  opacity: 1;
  /* transition-duration: 1s; */
  /* box-sizing: border-box;
    object-fit: fill; */

}

@media (max-width: 767px) {

  .container-about .card {
    width: calc(50% - 20px);
    /* Adjust padding as needed */
    margin: 15px;
    /* Adjust as needed */
  }
}


.container_mouse {
  text-align: center;
  color: #21D4FD;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 2rem;
  cursor: pointer;
}

.container_mouse .mouse-btn {
  margin: 10px auto;
  width: 20px;
  height: 40px;
  border: 4px solid #21D4FD;
  border-radius: 30px;
  display: flex;
}

.container_mouse .mouse-btn .mouse-scroll {
  display: block;
  width: 10px;
  height: 10px;
  background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
  border-radius: 50%;
  margin: auto;
  animation: scrolling 2s linear infinite;
}


@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

/* Hide button on screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .container_mouse .mouse-btn {
    display: none;
  }
}


h3 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin-top: 0px;
  font-size: .5em;
}

.bio {
  font-size: .5em;
  margin-top: 10px;
  font-weight: normal;
  text-align: left; /* Ensure left alignment */
  margin-left: -230px; /* Reduce left margin to shift text left */}

.typewrite {
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  max-width: 80%; /* Match bio */
  margin-left: -230px; /* Reduce left margin to shift text left */
  /* padding-left: 40px; */ /* Remove this if causing unwanted shift */
  /* margin: 0 auto; */
  text-align: center;
  max-width: 100%;
  /* padding: 0 20px; */
  display: block;}

.typewrite>.wrap {
  border-right: 0.08em solid white;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #21D4FD;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure left alignment */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}

@media (max-width: 1000px) {
  .bio, .typewrite {
    margin-left: 0;
    text-align: center;
    padding: 0 20px;
  }
}
/* For mobile screens (width below 768px) */
@media (max-width: 768px) {
  .bio, .typewrite {
    max-width: 100%;  /* Allow text to take the full width */
  }

  /* Add a large buffer between navbar and content */
  header {
    margin-bottom: 50px; /* Add space below the navbar */
  }

  .container-about {
    flex-direction: column; /* Stack the cards vertically */
    align-items: center;
    margin-top: 50px; /* Add spacing between navbar and content */
  }

  .container-about .card {
    width: 70%; /* Make the cards wider on mobile */
    margin: 20px 0; /* Increase space between cards */
  }

  .about-title {
        margin-top: 2000px; /* Add space between the title and the navbar */
  }
}



